<%= stylesheet_link_tag params[:controller] %>
	
<div id="reset_body">
	<center>
		<div id="reset_table">
			<center>
				<h2>Password Reset</h2>
			</center>
			<center>
				<h3><%= @user.name %> has requested a password reset. Please enter your new password:</h3>
				<%= form_for @user, :as => :user, :url => password_reset_path, :method => :put do |f| %>
					<table>
						<tr>
							<td><%= f.label 'new password:' %></td>
							<td><%= f.password_field :new_password %></td>
						</tr>
						<tr>
							<td><%= f.label 'password confirmation:' %></td>
							<td><%= f.password_field :new_password_confirmation %></td>
						</tr>
						<tr>
							<td><%= f.hidden_field :name %></td>
							<%= f.hidden_field :email, :value => @user.email %>
							<td align="right"><%= f.submit 'Update' %></td>
						</tr>
					</table>
				<% end %>
			</center>
		</div>
	</center>
</div>
